################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Projeto-Jogo/FileContentIndex/2b7ffffa-5e27-4daf-9eb0-848be218904d.vsidx
